@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400&family=Lobster&family=Pacifico&family=Roboto:wght@300;400&family=The+Nautigal:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Josefin+Sans:wght@100;400&family=Lobster&family=Pacifico&family=Roboto:wght@300;400&family=The+Nautigal:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Josefin+Sans:wght@100;400&family=Lemonada&family=Lobster&family=Pacifico&family=Roboto:wght@300;400&family=The+Nautigal:wght@700&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	scroll-behavior: smooth;
}
body{
	min-height: 100vh;
	background: linear-gradient(to bottom, #4dc3ff 0%, #ffe6b3 27%);
	overflow-x: hidden;
}
header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 30px 90px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 10000;
}
header .logo{
	color: #fff;
	font-weight: 700;
	text-decoration: none;
	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-family: 'Pacifico', cursive;
}
header ul{
	display: flex;
	justify-content: center;
	align-items: center;
}
header ul li {
	list-style: none;
	margin-left: 20px;
}
header ul li a{
	font-size: 1.2em;
	text-decoration: none;
	padding: 6px 15px;
	color: #fff;
	border-radius: 20px;
}
header ul li a:hover,
header ul li a.active{
	background: #fff;
	color: #2b1055;
}
section{
	position: relative;
	width: 100%;
	height: 100vh;
	padding: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
section::before{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100px;
	background: linear-gradient(to top, #009999, transparent);
	z-index: 10;
}
section img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	pointer-events: none;
}
section #text{
	position: absolute;
	color: #094b65;
	font-size: 10vw;
	text-align: center;
	line-height: 0.55em;
	font-family: 'Lemonada', cursive;
	transform: translateY(-75%);
}
section #text span{
	font-size: 0.20em;
	letter-spacing: 2px;
	font-weight: 400;
}
#btn{
	text-decoration: none;
	display: inline-block;
	padding: 8px 30px;
	background: #fff;
	color: #094b65;
	font-size: 1.2em;
	font-weight: 500;
	letter-spacing: 2px;
	border-radius: 40px;
	transform: translateY(100px);
}
.container{
  position: relative;
  min-height: 100vh;
  background: linear-gradient(to bottom, #009999 25%, #ffcc99 106%);
  padding-top: 70px;
  padding-bottom: 60px;
}
.container h1{
  font-size: 38px;
  font-weight: bold;
  padding: 15px;
  color: #333;
  text-align: center;
  text-transform: capitalize;
}
.container h2{
  font-size: 30px;
  font-weight: normal;
  padding: 15px;
  color: #333;
  text-align: center;
  text-transform: capitalize;
  padding-bottom: 20px;
}
.container .image-container{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  padding: 10px;
  padding-bottom: 30px;
}
.container .image-container .image{
  height: 250px;
  width: 350px;
  border: 10px solid #fff;
  box-shadow: 0 3px 5px #000;
  overflow: hidden;
  cursor: pointer;
}
.container .image-container .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: .2s linear;
}
.container .image-container .image:hover img{
  transform: scale(1.1);
}
.container .popup-image{
  position: fixed;
  top: 0; left: 0;
  background: rgba(0, 0, 0,.9);
  height: 100%;
  width: 100%;
  z-index: 100;
  display: none;
}
.container .popup-image span{
  position: absolute;
  top: 0; left: 10px;
  font-size: 60px;
  font-weight: bolder;
  color: #129dd3;
  cursor: pointer;
  z-index: 100;
}
.container .popup-image img{
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #fff;
  border-radius: 5px;
  width: 750px;
  object-fit: cover;
}
@media (max-width: 992px){
	#header{
		padding: 20px;
	}
	#header .logo{
		font-size: 1.5em;
	}
	#header .navigation{
		padding: 0;
		display: none;
	}
	#header .navigation.active{
		position: fixed;
		top: 0;
		right: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 100vh;
		height: 100vh;
		background: #006633;
	}
	#header .navigation li{
		margin-left: 0;
	}
	#header .navigation li a{
		color: #0a0a0f;
		font-size: 1.5em;
		margin: 5px 0;
		display: inline-block;
	}
	.toggle{
		position: fixed;
		top: 10px;
		right: 10px;
		width: 40px;
		height: 40px;
		cursor: pointer;
		background: url(menu.png);
		background-position: center;
		background-repeat: no-repeat;
		z-index: 10000;
	}
	.toggle.active{
		position: fixed;
		background: url(close1.png);
		background-size: 30px;
		background-position: center;
		background-repeat: no-repeat;
	}
	#btn{
		font-size: 15px;
	}
	.container .popup-image img{
		width: 90%;
	}
	#text{
		font-size: 15vw;
	}
	.container h1{
		font-size: 1.5em;
	}
	.container h2{
		font-size: 1.25em;
	}
}

/*-------------FOOTER-------------*/

.footer-distributed {
  background-color: #242629;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
	padding: 3px;
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}

.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-distributed p.footer-links a:hover{text-decoration:underline;}

/* Media Queries */

@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}