@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@300&family=The+Nautigal:wght@700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
header .logo{
  position: relative;
  color: #f00f47;
  display: inline-block;
  font-size: 3em;
  text-decoration: none;
  font-weight: 800;
  font-family: 'Lobster', cursive;
  letter-spacing: 5px;
}
header ul{
  position: relative;
  display: flex;
  align-items: center;
}
header ul li{
  list-style: none;
}
header ul li a{
  display: inline-block;
  color: #1D82D2;
  font-weight: 600;
  font-size: 1.2em;
  margin-left: 10px;
  display: inline-block;
  padding: 8px 18px;
  text-decoration: none;
  user-select: none;
  font-weight: 800;
}
@keyframes slide_top{
  0%{
    transform: translateY(100px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

header ul li a:hover{
  background: #1D82D2;
  color: #fff;
  border-radius: 20px;
}
.active{
  background: #1D82D2;
  color: #fff;
  border-radius: 20px;  
}

.menu_icon{
  display: none;
}

/*----images----*/
.container{
  position: relative;
  min-height: 100vh;
  background: linear-gradient(to bottom, #ffcc99 25%, #cc33ff 106%);
  padding-top: 100px;
  padding-bottom: 80px;
}
.container h1{
  font-size: 38px;
  font-weight: bold;
  padding: 15px;
  color: #333;
  text-align: center;
  text-transform: capitalize;
}
.container h2{
  font-size: 30px;
  font-weight: normal;
  padding: 15px;
  color: #333;
  text-align: center;
  text-transform: capitalize;
  padding-bottom: 20px;
}
.container .image-container{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  padding: 10px;
  padding-bottom: 30px;
}
.container .image-container .image{
  height: 250px;
  width: 350px;
  border: 10px solid #fff;
  box-shadow: 0 3px 5px #000;
  overflow: hidden;
  cursor: pointer;
}
.container .image-container .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: .2s linear;
}
.container .image-container .image:hover img{
  transform: scale(1.1);
}
.container .popup-image{
  position: fixed;
  top: 0; left: 0;
  background: rgba(0, 0, 0,.9);
  height: 100%;
  width: 100%;
  z-index: 100;
  display: none;
}
.container .popup-image span{
  position: absolute;
  top: 50vh; right: 20px;
  font-size: 60px;
  font-weight: bolder;
  color: #f00f47;
  cursor: pointer;
  z-index: 100;
}
.container .popup-image img{
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #fff;
  border-radius: 5px;
  width: 750px;
  object-fit: cover;
}
/* respnsive */
@media (max-width: 1085px){
  body{
    background: linear-gradient(to bottom, #ffcccc 0%, #ffffff 100%); }
  header{
    padding-top: 10px;
    padding-left: 20px;
  }
  header ul{
    display: block;
    margin-top: 0;
    margin-bottom: 10px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 220px;
    max-width: 100%;
    background: #1a1a1a;
    padding-top: 40px;
  }
  header ul li{
    top: 10px;
    right: 10px;
    margin: 20px;
  }
  header ul li a{
    margin-left: 0;
    font-size: 1.5em;
    color: #fff;
    display: block;
  }
  header ul li:hover{
    background: #f00f47;
    color: #fff;
  }
  header ul li a:hover{
    background: #f00f47;
    color: #fff;
  }
  .active{
    background: #f00f47;
    color: #fff;
    border-radius: 1px;
  }
  .menu_icon{
    display: block;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 40px;
    height: 40px;
    font-size: 2rem;
    background: #f00f47;
    background-size: 30px;
    cursor: pointer;
  }
  #menuList{
    overflow: hidden;
    transition: 0.5s;
  }
  .content{
    padding-top: 60px;
  }
  .content .textbox h2{
    font-size: 2.5em; 
  }
}
@media (max-width: 768px){
  .container .popup-image img{
    width: 95%;
  }
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

* {
  font-family: Roboto;
}

.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}

.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-distributed p.footer-links a:hover{text-decoration:underline;}

/* Media Queries */

@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}