*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}
header{
	background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(background.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}
.menu {
  position: relative;
  overflow: hidden;
  background-color: #333;
}
.menu a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
}
.menu a:hover {
  background-color: #fff;
  color: black;
}
.menu a.active {
  background-color: #6782ed;
  border-right: 1px inset #6cd3f5;
  color: white;
}
.logo img{
    border: 4px groove #fff;
	position: fixed;
	top: 0px;
	right: 0px;
	width: 56px;
	height: auto;
}
.title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.title h1{
    font-family: Times New Roman Georgia ;
	border: 5px solid #fff;
	padding: 10px 30px;
	color: #fff;
	text-decoration: none;
	transition: 0.6s ease;
	color: #fff;
	font-size: 100px;
}
.button{
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.btn{
	border: 5px double #fff;
	padding: 10px 30px;
	color: #fff;
	text-decoration: none;
	transition: 0.6s ease;
}
.btn:hover{
	background-color: #fff;
	color: #000;
}
.search{
  position:fixed;
  display:inline-block;
  color:white;
  padding:24px 16px;
}
.search-bar{
  position:absolute;
  display:none;
  left:0;
  padding:24px 0px;
}
input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #6cd3f5;
    border-radius: 4px;
    font-size: 18px;
    outline:none;
    padding: 12px 14px;
    transition: width 0.4s ease-in-out;
}
.search:hover{
  background-color:#fff;
  color:black;
}
.search:hover .search-bar{
  display:block;
}
form input[type="text"]:focus{
  width:400px;
  background-color:#fff;